[submodule "IBAForms"]
	path = IBAForms
	url = https://github.com/ittybittydude/IBAForms.git
[submodule "QuickDialog"]
	path = QuickDialog
	url = git@github.com:escoz/QuickDialog.git
[submodule "SVProgressHUD"]
	path = SVProgressHUD
	url = git://github.com/samvermette/SVProgressHUD.git
